In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

attendance_df = pd.read_csv('../data/matches_prep.csv', sep=',')
attendance_df

,weekday,date,time,stadium,attendance,hometeam,awayteam,matchday,result,season,team_distance,points_home,points_away
0,Sonntag,2004-03-21,14:30,Stadion Wankdorf,7500,BSC Young Boys,Servette Genève,25,4:2,2003,129637.370939,2.041667,1.750000
1,Sonntag,2003-11-23,16:15,Stadion Wankdorf,11000,BSC Young Boys,Servette Genève,17,3:0,2003,129637.370939,2.125000,1.750000
2,Sonntag,2004-02-15,16:00,Stadion Wankdorf,11850,BSC Young Boys,FC Basel,19,0:1,2003,68663.335223,2.111111,2.888889
3,Dienstag,2003-07-22,19:30,Stadion Wankdorf,11850,BSC Young Boys,FC Basel,2,2:3,2003,68663.335223,3.000000,3.000000
4,Sonntag,2004-05-09,16:15,Stadion Wankdorf,5000,BSC Young Boys,Neuchâtel Xamax FC,33,3:1,2003,39705.085279,2.031250,0.937500
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2837,Mittwoch,2019-05-22,20:00,Letzigrund,100,Grasshopper Club Zürich,FC Sion,35,0:3,2018,155415.844527,0.705882,1.176471
2838,Dienstag,2018-09-25,20:00,Letzigrund,3500,Grasshopper Club Zürich,FC Thun,8,0:2,2018,97172.740401,1.000000,1.571429
2839,Samstag,2019-04-20,19:00,Letzigrund,4300,Grasshopper Club Zürich,FC Thun,30,1:1,2018,97172.740401,0.758621,1.344828
2840,Sonntag,2018-12-09,16:00,Letzigrund,4800,Grasshopper Club Zürich,FC Luzern,17,2:3,2018,39797.513591,1.062500,1.187500
2841,Samstag,2019-03-02,19:00,Letzigrund,3700,Grasshopper Club Zürich,FC Luzern,23,1:3,2018,39797.513591,0.818182,1.181818

In [12]:
# Display all the colums with their type
attendance_info = pd.DataFrame()
attendance_info.insert(loc=0, column='names', value=attendance_df.columns)
attendance_info.insert(loc=1, column='scale', value=("nominal", "nominal", "nominal", "nominal", "metric", "nominal", "nominal", "ordinal", "nominal", "ordinal", "metric", "metric", "metric"))

dtype = list()
for column in attendance_df.columns:
    dtype.append(type(attendance_df[column][0]))

attendance_info.insert(loc=2, column='dType', value=dtype)

na_list = attendance_df.isna().sum()
attendance_info.insert(loc=3, column='NAs', value=na_list.to_list())

levels_list = list()
for i,columnName in enumerate(attendance_info["names"]):
    if attendance_info["scale"][i] != "metric":
        levels_list.append(attendance_df[columnName].describe().to_list()[1])
    else:
        levels_list.append(None)

attendance_info.insert(loc=4, column='Levels', value=levels_list)

attendance_info

            names    scale                    dType  NAs       Levels
0         weekday  nominal            <class 'str'>    0     7.000000
1            date  nominal            <class 'str'>    0  1170.000000
2            time  nominal            <class 'str'>    0    27.000000
3         stadium  nominal            <class 'str'>    0    28.000000
4      attendance   metric    <class 'numpy.int64'>    0          NaN
5        hometeam  nominal            <class 'str'>    0    18.000000
6        awayteam  nominal            <class 'str'>    0    18.000000
7        matchday  ordinal    <class 'numpy.int64'>    0    18.396904
8          result  nominal            <class 'str'>    0    51.000000
9          season  ordinal    <class 'numpy.int64'>    0  2010.539761
10  team_distance   metric  <class 'numpy.float64'>    0          NaN
11    points_home   metric  <class 'numpy.float64'>    0          NaN
12    points_away   metric  <class 'numpy.float64'>    0          NaN

In [14]:
temp_df = attendance_df.drop(['weekday', 'date', 'time', 'stadium', 'hometeam', 'awayteam', 'result'], axis=1)
temp_df

      attendance  matchday  season  team_distance  points_home  points_away
0           7500        25    2003  129637.370939     2.041667     1.750000
1          11000        17    2003  129637.370939     2.125000     1.750000
2          11850        19    2003   68663.335223     2.111111     2.888889
3          11850         2    2003   68663.335223     3.000000     3.000000
4           5000        33    2003   39705.085279     2.031250     0.937500
...          ...       ...     ...            ...          ...          ...
2837         100        35    2018  155415.844527     0.705882     1.176471
2838        3500         8    2018   97172.740401     1.000000     1.571429
2839        4300        30    2018   97172.740401     0.758621     1.344828
2840        4800        17    2018   39797.513591     1.062500     1.187500
2841        3700        23    2018   39797.513591     0.818182     1.181818

[2842 rows x 6 columns]

In [17]:
print(temp_df['attendance'].describe())
print(temp_df['team_distance'].describe())
print(temp_df['points_home'].describe())
print(temp_df['points_away'].describe())

count     2842.000000
mean     10409.346939
std       7293.093498
min        100.000000
25%       4960.750000
50%       8200.000000
75%      13173.750000
max      38015.000000
Name: attendance, dtype: float64
count      2842.000000
mean     102692.631735
std       51618.881058
min           0.000000
25%       64372.153498
50%       95455.450656
75%      140690.729339
max      281364.151242
Name: team_distance, dtype: float64
count    2842.000000
mean        1.285905
std         0.919624
min       -33.000000
25%         0.948026
50%         1.266667
75%         1.666667
max         3.000000
Name: points_home, dtype: float64
count    2842.000000
mean        1.318732
std         0.758058
min       -16.500000
25%         0.965805
50%         1.285714
75%         1.700000
max         3.000000
Name: points_away, dtype: float64